<div class="container jumbotron">
  <h2 id="title">
    <p class="animated pulse delay-1s">TasksFarm</p>
  </h2>
  <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addtask">Add task</button>
  <hr>
  <div *ngFor="let task of data" class="row">
    <div class="col-5" (click)="showtaskDetails(task)">
      <strong class="badge badge-warning" style="padding:5px;">{{task.task}}</strong>
    </div>
    <div class="col-5" (click)="showtaskDetails(task)">
      {{task.importance}}
    </div>
    <div class="col-2">
      <button (click)="deletetask(task)" class="btn btn-sm btn-danger">x</button>
    </div>
    <hr>
  </div>
</div>
<router-outlet></router-outlet>

<div class="modal fade" id="addtask">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Add task</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body addTaskModal">
        <form #addtaskForm="ngForm" ngSubmit="addTask(addtaskForm.value)" novalidate>
          <div class="form-group">
            <label for="task">Task:</label>
            <input type="text" class="form-control" name="task" id="task" [(ngModel)]="task">
          </div>
          <div class="form-group">
            <label for="imp">Importance(1-10):</label>
            <input type="number" class="form-control" name="importance" id="imp" [(ngModel)]="importance">
          </div>
          <button class="btn btn-sm btn-success" data-dismiss="modal" (click)="addTask(addtaskForm.value)">Add</button>
        </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>